* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  .container {
    margin: 0 auto;
    padding: 0;
    max-width: 1240px;
  }

  body{
    height: 500vh;
  }