// Mobile Version: [360px, 575px]
@media (max-width: 575.5px) {
  // ---- Home sart ----

  .home {
    margin-top: 75px;
    gap: 56px;
  }

  .home__bin {
    flex-direction: column;
    gap: 50px;
  }

  .track__2 {
    display: none;
  }

  .track__3 {
    display: block;
  }

  .home__title {
    align-items: start;
    justify-content: center;
    gap: 20px;
  }

  .home__title h1 {
    text-align: start;
    font-size: 28px;
    line-height: 35px;
  }

  .home__title p {
    font-size: 16px;
    line-height: 22.5px;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--black);
    max-width: 500px;
  }

  .home__cards {
    background: var(--white);
    box-shadow: none;
    padding: 0;
    border-radius: 20px;
    gap: 16px;
    box-shadow: 0px 4px 20px 0px #00000026;
  }
  .home__ul {
    gap: 0px;
    flex-direction: column;
  }

  .home__ul li {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    box-shadow: none;
    gap: 32px;
    padding: 24px 34px;
    padding-right: 40px;
    border-radius: 20px;
    width: 100%;
  }

  .home__ul li img {
    max-width: 68px;
  }

  .home__ul li:nth-child(2) {
    border: none;
  }

  .home__ul li h3 {
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 13px;
  }

  .home__ul li p {
    font-size: 16px;
    line-height: 24px;
  }

  // ---- Home end ----

  // ---- About sart ----

  .about {
    margin-top: 30px;
  }

  .about__box {
    gap: 0px;
    padding: 10px 10px 24px 34px;
    box-shadow: 0px 4px 20px 0px #00000026;
    border-radius: 20px;
  }

  .about__ul {
    padding-top: 20px;
    gap: 20px;
  }

  .about__li {
    flex-direction: column;
    align-items: start;
  }

  .about__li p {
    font-size: 15px;
    max-width: 400px;
  }

  .about__img:hover .imgText {
    left: -20%;
  }

  .imgText h2 {
    top: 25%;
    font-size: 30px;
    line-height: 40px;
    padding-left: 130px;
  }

  .about__title2 {
    display: block;
  }

  .about__title1 {
    display: none;
  }

  .about__box {
    margin-top: 0px;
  }

  .about__img img {
    margin-bottom: 20px;
    height: 222px;
  }

  // ---- About end ----

  // ---- Cards start ----
  .cards {
    margin-top: 0;
  }

  .cards__title h2 {
    font-size: 28px;
    line-height: 35px;
  }

  .cards__title p {
    font-size: 15px;
    line-height: 22.5px;
  }

  .cards__bin h3 {
    font-size: 18px;
    line-height: 24.3px;
  }

  .cards__bin p {
    font-size: 15px;
    line-height: 22.5px;
    padding-top: 10px;
    padding-bottom: 32px;
  }

  .cards__bin strong {
    font-size: 15px;
    line-height: 20.25px;
  }

  // ---- Cards end ----

  // ---- Work start ----
  .work__bin {
    gap: 20px;
    padding: 30px;
  }

  .work__info {
    gap: 38px;
  }

  .work__info h3::before {
    bottom: -14px;
  }

  .work__box {
    gap: 16px;
    margin-top: 30px;
  }

  .work__title h2 {
    font-size: 28px;
    line-height: 35px;
  }

  .work__info p {
    font-size: 15px;
    line-height: 22.5px;
  }
  // ---- Work end ----

  // ---- Video start ----
  .videos {
    margin-top: 0px;
    padding: 0 30px;
  }

  // ---- Video end ----

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 25px 29px 25px;
    background: var(--green);
    margin-top: 25px;
  }

  .button2 {
    margin-top: 50px;
    display: block;
  }

  .button1 {
    display: none;
  }

  .footer__subtitle {
    margin-top: 30px;
  }

  .footer__box img {
    max-width: 100px;
  }

  .footer__box a {
    font-size: 11px;
    line-height: 15px;
  }
}

@media (max-width: 435px) {
  .imgText h2 {
    font-size: 25px;
    line-height: 30px;
    padding-left: 90px;
  }

  .cards__img1 {
    display: block;
  }

  .cards__img2 {
    display: none;
  }
}
